body {
  font-family: Arial, sans-serif;
  background: linear-gradient(132deg, rgb(34, 181, 254) 0.00%, rgb(255, 186, 214) 100.00%); 
   margin: auto; 
   

}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

header {
  background-color: #2C3E50;
  padding: 1px;
  text-align: center;
  border-radius: px;
  background-color: rgba(255, 255, 255, 0.3);
}

h1 {
  color: #E8E8E8;
  box-shadow: 0 2px 10px white;
}

.divider {
  height: 0px;
  background-color: #BDC3C7;
  margin: 3px 0;
}



main {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1px 0;
  text-align: center;
  border-radius: 1px;
  margin-bottom: 100%;
  min-height: 200px;
}
h2{
  font-size: medium;
  color: #E8E8E8;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}

p{

  margin: 1px 0;
  text-align: left;
  border-radius: 15px;
  color:#686963;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px
  
}

button {
  background-color: #E3F2FD;
  border: none;
  color:#686963;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 90%;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0 2px 10px white;
}

input[type=text] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #E3F2FD;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
  background-color: #E3F2FD;
  box-shadow: 0 2px 10px white;

}

input[type=text]:focus {
  border: 3px solid #7F8C8D;
  background-color: #E3F2FD;
}


.list{
  text-align: left;
  color:#E8E8E8;
  padding-bottom:10px;  
}
.framing{
  
  color:#686963;
  background-color: #E3F2FD;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px;
  text-wrap: flex;
  word-wrap: break-word;
  word-break: break-all;
  hyphens:auto;
  box-shadow: 0 2px 10px white;
  
  
}
li {
  
  padding-left: 10px;
}

